# The TEN Bridge on Ethereum L1 (Sepolia)
NEXT_PUBLIC_TEN_BRIDGE_ADDRESS_L1=0xc7aacb570f9f47471f896e220869756c590079d1

# Your deployed GhostHopAdapter address
NEXT_PUBLIC_GHOSTHOP_ADAPTER_ADDRESS=0x50AB3b864fDdc007ca43910d83A4E2385A68A1EE

# Across API Endpoint (Testnet: https://testnet.across.to/api, Mainnet: https://across.to/api)
NEXT_PUBLIC_ACROSS_API_URL=https://testnet.across.to/api
